In [ ]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/drive/MyDrive/praktikum_ML/praktikum02/data/day.xls')

In [4]:
# (a) Data Training: 80%
train = df.sample(frac=0.8, random_state=1)

In [5]:
# (b) Data Validation: 10% dari data training
val = train.sample(frac=0.1, random_state=1)

In [6]:
# (c) Data Testing: 20% dari total dataset
test = df.drop(train.index)

In [8]:
# Tampilkan jumlah data
print("Jumlah Data Training:", len(train))

Jumlah Data Training: 585

In [9]:
print("Jumlah Data Validation:", len(val))

Jumlah Data Validation: 58

In [10]:
print("Jumlah Data Testing:", len(test))

Jumlah Data Testing: 146

In [11]:
# Tampilkan 5 baris pertama
print("\nTraining Data:")
print(train.head())

Training Data:
     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
404      405  2012-02-09       1   1     2        0        4           1
726      727  2012-12-27       1   1    12        0        4           1
159      160  2011-06-09       2   0     6        0        4           1
422      423  2012-02-27       1   1     2        0        1           1
512      513  2012-05-27       2   1     5        0        0           0

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
404           1  0.265000  0.261988  0.562083   0.194037     163        3667
726           2  0.254167  0.226642  0.652917   0.350133     247        1867
159           2  0.808333  0.757579  0.568333   0.149883     563        3352
422           1  0.366667  0.357954  0.490833   0.268033     253        4069
512           1  0.690000  0.641425  0.697083   0.215171    3283        3308

      cnt
404  3830
726  2114
159  3915
422  4322
512  6591

In [12]:
print("\nValidation Data:")
print(val.head())

Validation Data:
     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
404      405  2012-02-09       1   1     2        0        4           1
136      137  2011-05-17       2   0     5        0        2           1
683      684  2012-11-14       4   1    11        0        3           1
414      415  2012-02-19       1   1     2        0        0           0
106      107  2011-04-17       2   0     4        0        0           0

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
404           1  0.265000  0.261988  0.562083   0.194037     163        3667
136           2  0.561667  0.538529  0.837917   0.277354     678        3445
683           1  0.289167  0.281563  0.552083   0.199625     373        5122
414           2  0.280000  0.265788  0.515833   0.253112     618        2071
106           1  0.456667  0.445696  0.479583   0.303496    1558        2186

      cnt
404  3830
136  4123
683  5495
414  2689
106  3744

In [13]:
print("\nTesting Data:")
print(test.head())

Testing Data:
    instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
7         8  2011-01-08       1   0     1        0        6           0
10       11  2011-01-11       1   0     1        0        2           1
15       16  2011-01-16       1   0     1        0        0           0
20       21  2011-01-21       1   0     1        0        5           1
22       23  2011-01-23       1   0     1        0        0           0

    weathersit      temp     atemp       hum  windspeed  casual  registered  \
7            2  0.165000  0.162254  0.535833   0.266804      68         891
10           2  0.169091  0.191464  0.686364   0.122132      43        1220
15           1  0.231667  0.234217  0.483750   0.188433     251         953
20           1  0.177500  0.157833  0.457083   0.353242      75        1468
22           1  0.096522  0.098839  0.436522   0.246600     150         836

     cnt
7    959
10  1263
15  1204
20  1543
22   986